/* VERSION 1.0.2
 *
 *
 *  CHANGELOG
 *
 *  1.0.2, released 19.1.2015
 *  Fix widths for tables with 3-13 columns
 *  Further increase top margins for non-first child headings inside 'pohja'
 *
 *  1.0.1, released 19.1.2015
 *  Increase top margins for all paragraphs.
 *  Increase top margins for headings inside 'pohja'.
 *
 *  1.0.0, released 15.1.2015
 *  Initial release. Import all existing code from old codebase.
 *
 *
 *  AUTHOR: Jukka Eerikainen
 *  Versioning scheme based on Ferver (https://github.com/jonathanong/ferver)
 */
/* NAMESPACE DECLARATIONS *************************************************** */
/* ************************************************************************** */
@namespace oxy url('http://www.oxygenxml.com/extensions/author');
/* IMPORT PARTIALS ********************************************************** */
/* ************************************************************************** */
/* DISPLAY RULES ************************************************************ */
/* ************************************************************************** */
head, head * {
  display: none; }

dtbook,
address,
blockquote,
caption,
div,
ol,
ul,
h1, h2, h3, h4, h5, h6,
levelhd, bridgehead, hd,
docauthor,
epigraph,
byline,
dateline,
imggroup,
note,
notice,
pl,
prodnote,
sidebar,
line,
list,
.caption,
.prodnote,
.sidebar,
.imggroup,
.subTitle,
.author,
.image-caption,
.page-normal,
.page-special,
.page-front,
.pagenum,
pagenum,
book, body,
frontmatter, .frontmatter,
bodymatter, .bodymatter,
rearmatter, .rearmatter {
  display: block; }

a,
abbr,
acronym,
code,
dfn,
em,
kbd,
samp,
cite,
cite author,
cite title,
q,
span,
sub,
sup,
bdo,
lic,
linenum,
w,
sent,
annoref,
noteref,
.annoref,
.noteref {
  display: inline; }

table {
  display: table; }

tr {
  display: table-row; }

col {
  display: table-column; }

colgroup {
  display: table-column-group; }

tbody {
  display: table-row-group; }

thead {
  display: table-header-group; }

tfoot {
  display: table-footer-group; }

td {
  display: table-cell; }

table caption {
  display: table-caption; }

li {
  display: list-item; }

dl, dt, dd {
  display: block; }

/* COLORS */
/* Color adjustment variables */
/* HSL values */
/* Descriptive colors */
/* Functional colors */
/* GLOBAL VARIABLES ********************************************************* */
/* ************************************************************************** */
/* DIMENSIONS */
/* Line heights */
/* Font sizes */
/* Spacings */
/* GLOBAL MIXINS ************************************************************ */
/* ************************************************************************** */
/* GENERAL BLOCK ELEMENTS *************************************************** */
/* ************************************************************************** */
prodnote, notice, .prodnote {
  color: #333333;
  font-family: verdana, sans-serif;
  font-size: 100%;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.1em;
  word-spacing: 0.12em;
  font-size: 90%;
  line-height: 1.3;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-style: solid;
  border-width: 1px;
  border-color: #ffb53d;
  background-color: #e6e6e6; }

.optional-prodnote a {
  color: #333333; }

sidebar, div.sidebar {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #a0eea5; }

div sidebar,
prodnote sidebar,
sidebar sidebar,
note sidebar,
annotation sidebar,
blockquote sidebar,
dd sidebar,
li sidebar,
th sidebar,
td sidebar {
  float: right;
  width: inherit;
  clear: both;
  margin-left: 1em;
  margin-right: 1em; }

address {
  margin-top: 2em;
  margin-bottom: 1em; }

.annotation {
  font-size: 90%;
  border: thin dotted #cccccc;
  padding: 1em; }

note {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-top: thin solid #333333;
  border-bottom: thin solid #333333; }

.notebody {
  font-size: 90%;
  border: thin dotted #cccccc;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em; }

blockquote {
  font-style: italic;
  font-size: 80%;
  margin-top: 3em;
  margin-bottom: 1em; }

line {
  margin: 0; }

linegroup, .linegroup {
  margin-top: 0.7em;
  margin-bottom: 0;
  line-height: 1.6; }

.line {
  line-height: 1.6; }
  .line img {
    line-height: 1.6;
    margin-bottom: 1em; }

.author {
  font-weight: bold;
  letter-spacing: 0.12em; }

.dateline {
  font-size: 80%;
  font-style: italic; }

.byline {
  margin-top: 1em;
  margin-bottom: 1em; }

div.title {
  font-weight: bold;
  font-size: 120%;
  margin-top: 2em; }

poem,
.poem {
  color: #333333;
  font-family: verdana, sans-serif;
  font-size: 100%;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.1em;
  word-spacing: 0.12em;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #a0eea5;
  border: thin solid #cccccc; }
  poem div.hd,
  .poem div.hd {
    font-weight: bold;
    letter-spacing: 0.12em;
    margin-top: 1em;
    margin-bottom: 1em; }

epigraph {
  margin-top: 2em;
  margin-bottom: 1em;
  font-style: italic; }

/* BASE ********************************************************************* */
/* ************************************************************************** */
dtbook {
  width: 100%; }

book, body {
  color: #333333;
  font-family: verdana, sans-serif;
  font-size: 100%;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.1em;
  word-spacing: 0.12em;
  max-width: 100%;
  background-color: #e6e6e6;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto; }

/* FRONTMATTER ************************************************************** */
/* ************************************************************************** */
frontmatter, .frontmatter,
bodymatter, .bodymatter,
rearmatter, .rearmatter {
  margin-top: 3em;
  margin-bottom: 1em;
  background-color: #e6e6e6;
  width: 80%;
  max-width: 750px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-top: 2em; }

doctitle, covertitle, .doctitle {
  color: #333333;
  font-family: verdana, sans-serif;
  font-size: 100%;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.1em;
  word-spacing: 0.12em;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 170%;
  font-weight: bold; }

docauthor {
  color: #333333;
  font-family: verdana, sans-serif;
  font-size: 100%;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.1em;
  word-spacing: 0.12em; }

.subTitle {
  font-size: 50%;
  margin-top: 1em; }

.author {
  color: #333333;
  font-family: verdana, sans-serif;
  font-size: 100%;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.1em;
  word-spacing: 0.12em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 140%; }

/* Render line breaks after br tags. !important is required for Oxygen. */
br {
  display: inline !important; }
  br::after {
    content: "\a";
    white-space: normal;
    visibility: hidden; }

hr {
  margin-top: 0;
  margin-bottom: 1.5em;
  color: #5ecf66; }

/* HEADINGS ***************************************************************** */
/* ************************************************************************** */
/* BASE ********************************************************************* */
h1, h2, h3, h4, h5, h6, levelhd, bridgehead, hd {
  font-weight: bold;
  letter-spacing: 0.12em;
  margin-top: 3em;
  margin-bottom: 1em;
  font-weight: bold; }

h1, level > levelhd {
  font-size: 170%; }

h2, level > level > levelhd {
  font-size: 130%; }

h3, level > level > level > levelhd {
  font-size: 120%; }

h4, level > level > level > level > levelhd {
  font-size: 110%; }

h5, level > level > level > level > level > levelhd {
  font-size: 110%; }

h6, level > level > level > level > level > level > levelhd {
  font-size: 100%; }

bridgehead, hd {
  margin-top: 0.7em;
  margin-bottom: 0;
  font-size: 100%; }

.heading, .otsikko {
  margin-top: 0;
  margin-bottom: 0.8em;
  font-weight: bold;
  letter-spacing: 0.12em;
  font-size: 120%; }

/* IMAGES ******************************************************************* */
/* ************************************************************************** */
imggroup,
.imggroup {
  margin-top: 2em;
  margin-bottom: 1em; }
  imggroup caption, imggroup .caption,
  .imggroup caption,
  .imggroup .caption {
    color: #333333;
    font-family: verdana, sans-serif;
    font-size: 100%;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.1em;
    word-spacing: 0.12em;
    font-size: 90%;
    line-height: 1.3; }

img {
  border-radius: 10px 10px 10px 10px;
  border: none;
  max-width: 100%;
  height: auto;
  /* for oxygen */
  content: attr(src, url); }

.image-caption {
  margin-top: 2em;
  margin-bottom: 1.2em; }

/* GENERAL INLINES ********************************************************** */
/* ************************************************************************** */
a {
  text-decoration: none;
  color: #333333; }

a:hover,
a:active,
a:focus {
  color: #ff8e3d;
  background-color: #ff8e3d; }

em,
q {
  font-style: italic; }

strong,
.exercisenumber,
.exercisepart {
  font-weight: bold;
  letter-spacing: 0.12em; }

kbd {
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-variant: small-caps;
  font-size: 90%;
  background: #333333;
  color: #fafafa; }

sub, sup {
  font-size: 90%; }
  sub a, sup a {
    margin-left: -0.3em; }

sub {
  vertical-align: sub; }

sup,
annoref,
.annoref,
noteref,
.noteref {
  vertical-align: super; }

abbr,
acronym {
  border-bottom-style: dotted;
  border-bottom-width: thin;
  border-color: #5ecf66; }

dfn,
cite title {
  border-bottom-style: dotted;
  border-bottom-width: thin;
  border-color: #333333; }

code {
  color: #333333;
  font-family: verdana, sans-serif;
  font-size: 100%;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.1em;
  word-spacing: 0.12em;
  letter-spacing: 0.12em;
  font-family: "Lucida Console", sans-serif; }

annoref,
.annoref,
noteref,
.noteref {
  font-size: 80%;
  padding-left: 0.5em;
  padding-right: 0.5em; }

annoref,
.annoref {
  border-bottom-style: dotted;
  border-bottom-width: thin;
  border-color: #cccccc; }

noteref,
.noteref {
  border-style: solid;
  border-width: 1px;
  border-color: #5ecf66; }

sent, w {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }

linenum:after {
  content: " "; }

.highlight {
  background-color: #666666;
  color: #e6e6e6; }

/* TEMPLATE ***************************************************************** */
/* ************************************************************************** */
/* KEHYKSET */
.kehys1 {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 2em;
  border-left-style: dotted;
  border-left-width: 4px;
  border-color: #5ecf66;
  padding-left: 1em;
  padding-top: 0;
  line-height: 1.5; }
  .kehys1 li {
    line-height: 1.3; }
  .kehys1 .heading, .kehys1 .otsikko, .kehys1 h2, .kehys1 h3, .kehys1 h4, .kehys1 h5, .kehys1 h6 {
    color: #333333;
    font-family: verdana, sans-serif;
    font-size: 100%;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.1em;
    word-spacing: 0.12em;
    font-size: 110%;
    font-weight: bold;
    padding-top: 0.25em;
    padding-bottom: 0.25em; }

.kehys2 {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 2em;
  border-left-style: dotted;
  border-left-width: 4px;
  border-color: #6998ce;
  padding-left: 1em;
  padding-top: 0;
  line-height: 1.5; }
  .kehys2 li {
    line-height: 1.3; }
  .kehys2 .heading, .kehys2 .otsikko, .kehys2 h2, .kehys2 h3, .kehys2 h4, .kehys2 h5, .kehys2 h6 {
    color: #333333;
    font-family: verdana, sans-serif;
    font-size: 100%;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.1em;
    word-spacing: 0.12em;
    font-size: 110%;
    font-weight: bold;
    padding-top: 0.25em;
    padding-bottom: 0.25em; }

.kehys3 {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 2em;
  border-left-style: dotted;
  border-left-width: 4px;
  border-color: #ffaf75;
  padding-left: 1em;
  padding-top: 0;
  line-height: 1.5; }
  .kehys3 li {
    line-height: 1.3; }
  .kehys3 .heading, .kehys3 .otsikko, .kehys3 h2, .kehys3 h3, .kehys3 h4, .kehys3 h5, .kehys3 h6 {
    color: #333333;
    font-family: verdana, sans-serif;
    font-size: 100%;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.1em;
    word-spacing: 0.12em;
    font-size: 110%;
    font-weight: bold;
    padding-top: 0.25em;
    padding-bottom: 0.25em; }

/* TEMPLATE ***************************************************************** */
/* ************************************************************************** */
/* LAATIKOT */
.laatikko1 {
  margin-top: 3em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: #a0eea5;
  padding-left: 0; }
  .laatikko1 > * {
    margin-left: 1em;
    margin-right: 1em; }
  .laatikko1 li {
    line-height: 1.5; }
  .laatikko1 .heading, .laatikko1 .otsikko, .laatikko1 h2, .laatikko1 h3, .laatikko1 h4, .laatikko1 h5, .laatikko1 h6 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1em;
    background-color: #a0eea5; }

.laatikko2 {
  margin-top: 3em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: #a0c4ee;
  padding-left: 0; }
  .laatikko2 > * {
    margin-left: 1em;
    margin-right: 1em; }
  .laatikko2 li {
    line-height: 1.5; }
  .laatikko2 .heading, .laatikko2 .otsikko, .laatikko2 h2, .laatikko2 h3, .laatikko2 h4, .laatikko2 h5, .laatikko2 h6 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1em;
    background-color: #a0c4ee; }

.laatikko3 {
  margin-top: 3em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: #eec0a0;
  padding-left: 0; }
  .laatikko3 > * {
    margin-left: 1em;
    margin-right: 1em; }
  .laatikko3 li {
    line-height: 1.5; }
  .laatikko3 .heading, .laatikko3 .otsikko, .laatikko3 h2, .laatikko3 h3, .laatikko3 h4, .laatikko3 h5, .laatikko3 h6 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1em;
    background-color: #eec0a0; }

/* LISTS ******************************************************************** */
/* ************************************************************************** */
list,
ul,
pl,
ol {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0; }

li {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-left: 1em;
  list-style-position: outside; }

li.hd {
  font-weight: bold;
  letter-spacing: 0.12em;
  margin-top: 0.5em;
  margin-bottom: 0;
  list-style-type: none; }

lic + lic {
  margin-left: 1em; }

list[type="ol"][enum="1"] {
  list-style-type: decimal; }

list[type="ol"][enum="a"],
.lower-alpha,
.lower-alpha {
  list-style-type: lower-alpha; }

list[type="ol"][enum="U"],
.upper-alpha,
.upper-alpha {
  list-style-type: upper-alpha; }

list[type="ol"][enum="i"] {
  list-style-type: lower-roman; }

list[type="ol"][enum="X"],
.upper-roman,
.upper-roman {
  list-style-type: upper-roman;
  list-style-position: outside; }

ol li {
  font-weight: bold;
  letter-spacing: 0.12em;
  list-style-type: decimal; }
ol span {
  font-weight: normal; }

list[type="ul"],
list[type="pl"],
.plain {
  list-style-type: none;
  line-height: 1.8; }

.unordered li {
  list-style-type: disc;
  margin-left: 1em;
  line-height: 1.8; }

list > li > list[type=ul] {
  list-style-type: circle; }

list > li > list > li > list[type=ul] {
  list-style-type: square; }

list > li > list,
list li list {
  margin-top: 0;
  margin-bottom: 0; }

/* DEFINITION LIST ********************************************************** */
/* ************************************************************************** */
/* CUSTOM RULES FOR NESTED LIST STRUCTURES ********************************** */
/* ************************************************************************** */
/* Do NOT touch this part of code under ANY circumstances whatsoever. Do NOT
even think about it. This code is VITAL. Yes it is ugly. Yes it is *A BIT* of a
hack. I feel you. I don't like it either. Unfortunately, there's no way around
it - for the time being we are stuck with Dolphin EasyReader, which uses IE7
standards layout engine, so I had to do some quite heavy black magic. */
/* OK, few circumstances:
1) You're getting rid of hard-coded negative top margins and replacing them with
   line-height variable. That's ok. Don't fuck up.
2) You finally got rid of IE7. Congratulations! */
/* I spent about three days on this code. THREE DAYS. ON THIS. */
/* Set up key variables. NB: if list line height is changed, changes here may 
   be necessary as well! */
/* *+html div.level2 selector targets only IE7. Do NOT touch it. */
* + html div.level ul.plain,
* + html div.level1 ul.plain,
* + html div.level2 ul.plain,
* + html div.level3 ul.plain,
* + html div.level4 ul.plain,
* + html div.level5 ul.plain,
* + html div.level6 ul.plain {
  /* Target exercisenumber. Float left removes element from content flow.
     Top margin is run-of-the-mill top margin, as the element's y
     position is still default. */
        /* Target whatever comes afterwards (ordinary text). Display as block
           to achieve justified left border. Margin-left sets the space for
           list marker. Negative margin-top is necessary to account for the
           (floated) list marker. 

           ONLY spans can be targeted. To do otherwise would introduce
           ambiguity and much potential for disasters. This means that if the
           text is to be bolded, bold must be enclosed within the span. In 
           other words, the high-level structure must be_exactly as specified;
           however, the content of high-level containers may be arbitrary. */
  /* If a secondary marker follows, it must be displayed as inline, as
     the actual content is yet to be displayed; block would cause a break.
     Margin-left is kind of a magic number here, don't really know where
     it came from, but I'm guessing it's got something to do with word
     spacing or something. Anyhow, it's at the end just an ordinary left
     margin. Top margin is again ROTM top margin, 0 just to signify that
     as opposed to any other span, this one does NOT have to be moved
     upwards, because this is inline. */
  /* A free-hanging exercisepart. Basically the same as exercisenumber. */
  /* After exercisepart, the actual content follows pretty much the same
     rules as with exercisenumber. Of course, left margin must be
     increased to account for nesting. */
  /* Rules for the actual content, when exercisepart is on the same line
     as the exercisenumber. Double left margin, otherwise the same as
     normal content. */ }
  * + html div.level ul.plain span.exercisenumber,
  * + html div.level1 ul.plain span.exercisenumber,
  * + html div.level2 ul.plain span.exercisenumber,
  * + html div.level3 ul.plain span.exercisenumber,
  * + html div.level4 ul.plain span.exercisenumber,
  * + html div.level5 ul.plain span.exercisenumber,
  * + html div.level6 ul.plain span.exercisenumber {
    display: block;
    float: left;
    margin-top: 1em; }
  * + html div.level ul.plain span.exercisenumber + span,
  * + html div.level1 ul.plain span.exercisenumber + span,
  * + html div.level2 ul.plain span.exercisenumber + span,
  * + html div.level3 ul.plain span.exercisenumber + span,
  * + html div.level4 ul.plain span.exercisenumber + span,
  * + html div.level5 ul.plain span.exercisenumber + span,
  * + html div.level6 ul.plain span.exercisenumber + span {
    display: block;
    margin-top: -0.5em;
    margin-left: 2em; }
  * + html div.level ul.plain span.exercisenumber + span.exercisepart,
  * + html div.level1 ul.plain span.exercisenumber + span.exercisepart,
  * + html div.level2 ul.plain span.exercisenumber + span.exercisepart,
  * + html div.level3 ul.plain span.exercisenumber + span.exercisepart,
  * + html div.level4 ul.plain span.exercisenumber + span.exercisepart,
  * + html div.level5 ul.plain span.exercisenumber + span.exercisepart,
  * + html div.level6 ul.plain span.exercisenumber + span.exercisepart {
    display: inline;
    margin-top: 1em;
    margin-left: 0.7em; }
  * + html div.level ul.plain span.exercisepart,
  * + html div.level1 ul.plain span.exercisepart,
  * + html div.level2 ul.plain span.exercisepart,
  * + html div.level3 ul.plain span.exercisepart,
  * + html div.level4 ul.plain span.exercisepart,
  * + html div.level5 ul.plain span.exercisepart,
  * + html div.level6 ul.plain span.exercisepart {
    float: left;
    margin-top: 0;
    margin-left: 2em; }
  * + html div.level ul.plain span.exercisepart + span,
  * + html div.level1 ul.plain span.exercisepart + span,
  * + html div.level2 ul.plain span.exercisepart + span,
  * + html div.level3 ul.plain span.exercisepart + span,
  * + html div.level4 ul.plain span.exercisepart + span,
  * + html div.level5 ul.plain span.exercisepart + span,
  * + html div.level6 ul.plain span.exercisepart + span {
    display: block;
    margin-top: -1.5em;
    margin-left: 4em; }
  * + html div.level ul.plain span.exercisenumber + span.exercisepart + span,
  * + html div.level1 ul.plain span.exercisenumber + span.exercisepart + span,
  * + html div.level2 ul.plain span.exercisenumber + span.exercisepart + span,
  * + html div.level3 ul.plain span.exercisenumber + span.exercisepart + span,
  * + html div.level4 ul.plain span.exercisenumber + span.exercisepart + span,
  * + html div.level5 ul.plain span.exercisenumber + span.exercisepart + span,
  * + html div.level6 ul.plain span.exercisenumber + span.exercisepart + span {
    display: block;
    margin-top: -0.5em;
    margin-left: 4em; }

/* Webkit (Chrome, Safari). As everything pretty much works as expected, I
   don't think extensive comments are necessary. */
div.level ul.plain span.exercisenumber,
div.level1 ul.plain span.exercisenumber,
div.level2 ul.plain span.exercisenumber,
div.level3 ul.plain span.exercisenumber,
div.level4 ul.plain span.exercisenumber,
div.level5 ul.plain span.exercisenumber,
div.level6 ul.plain span.exercisenumber {
  float: left; }
div.level ul.plain span.exercisenumber + span,
div.level1 ul.plain span.exercisenumber + span,
div.level2 ul.plain span.exercisenumber + span,
div.level3 ul.plain span.exercisenumber + span,
div.level4 ul.plain span.exercisenumber + span,
div.level5 ul.plain span.exercisenumber + span,
div.level6 ul.plain span.exercisenumber + span {
  display: block;
  margin-top: 1em;
  margin-left: 2em; }
div.level ul.plain span.exercisenumber + span.exercisepart,
div.level1 ul.plain span.exercisenumber + span.exercisepart,
div.level2 ul.plain span.exercisenumber + span.exercisepart,
div.level3 ul.plain span.exercisenumber + span.exercisepart,
div.level4 ul.plain span.exercisenumber + span.exercisepart,
div.level5 ul.plain span.exercisenumber + span.exercisepart,
div.level6 ul.plain span.exercisenumber + span.exercisepart {
  margin-top: 0;
  margin-left: 0.7em; }
div.level ul.plain span.exercisepart,
div.level1 ul.plain span.exercisepart,
div.level2 ul.plain span.exercisepart,
div.level3 ul.plain span.exercisepart,
div.level4 ul.plain span.exercisepart,
div.level5 ul.plain span.exercisepart,
div.level6 ul.plain span.exercisepart {
  float: left;
  margin-left: 2em; }
div.level ul.plain span.exercisepart + span,
div.level1 ul.plain span.exercisepart + span,
div.level2 ul.plain span.exercisepart + span,
div.level3 ul.plain span.exercisepart + span,
div.level4 ul.plain span.exercisepart + span,
div.level5 ul.plain span.exercisepart + span,
div.level6 ul.plain span.exercisepart + span {
  display: block;
  margin-left: 4em; }
div.level ul.plain span.exercisenumber + span.exercisepart + span,
div.level1 ul.plain span.exercisenumber + span.exercisepart + span,
div.level2 ul.plain span.exercisenumber + span.exercisepart + span,
div.level3 ul.plain span.exercisenumber + span.exercisepart + span,
div.level4 ul.plain span.exercisenumber + span.exercisepart + span,
div.level5 ul.plain span.exercisenumber + span.exercisepart + span,
div.level6 ul.plain span.exercisenumber + span.exercisepart + span {
  margin-top: 1em; }

/* NAVIGATION HEADERS ******************************************************* */
/* ************************************************************************** */
div.nav {
  background-color: #2ab733;
  border: thin solid #cccccc;
  padding: 0.5em; }
  div.nav p {
    margin: 0;
    padding: 0;
    color: #666666; }
  div.nav .title {
    text-align: center; }
  div.nav a {
    color: #666666; }
  div.nav a:hover,
  div.nav a:active,
  div.nav a:focus {
    color: #333333;
    text-decoration: underline;
    background-color: #cccccc; }
  div.nav span {
    width: 33.33%; }
  div.nav .prev {
    text-align: left; }
  div.nav .main {
    text-align: center; }
  div.nav .next {
    text-align: right; }

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em; }

.johdanto {
  font-weight: bold;
  letter-spacing: 0.12em; }

.lahdeviite {
  color: #333333;
  font-family: verdana, sans-serif;
  font-size: 100%;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.1em;
  word-spacing: 0.12em;
  font-size: 90%;
  line-height: 1.3;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 80%;
  font-style: italic; }

/* PAGENUM, LINENUM ********************************************************* */
/* ************************************************************************** */
.page-normal,
.page-special,
.page-front,
.pagenum,
pagenum {
  margin-top: 3em;
  margin-bottom: 1em;
  text-align: right;
  font-weight: bold;
  border-top: solid thin #333333;
  padding-top: 2em; }

/* TEMPLATE ***************************************************************** */
/* ************************************************************************** */
.pohja1 {
  margin-top: 3em;
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #a0eea5;
  border-style: none; }
  .pohja1 .heading, .pohja1 .otsikko, .pohja1 h2, .pohja1 h3, .pohja1 h4, .pohja1 h5, .pohja1 h6 {
    margin-top: 2em;
    margin-bottom: 1em;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #37be40;
    padding-bottom: 0.25em; }
  .pohja1 .heading:first-child, .pohja1 .otsikko:first-child, .pohja1 h2:first-child, .pohja1 h3:first-child, .pohja1 h4:first-child, .pohja1 h5:first-child, .pohja1 h6:first-child {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #37be40;
    padding-bottom: 0.25em; }

.pohja2 {
  margin-top: 3em;
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #a0c4ee;
  border-style: none; }
  .pohja2 .heading, .pohja2 .otsikko, .pohja2 h2, .pohja2 h3, .pohja2 h4, .pohja2 h5, .pohja2 h6 {
    margin-top: 2em;
    margin-bottom: 1em;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #3776be;
    padding-bottom: 0.25em; }
  .pohja2 .heading:first-child, .pohja2 .otsikko:first-child, .pohja2 h2:first-child, .pohja2 h3:first-child, .pohja2 h4:first-child, .pohja2 h5:first-child, .pohja2 h6:first-child {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #3776be;
    padding-bottom: 0.25em; }

.pohja3 {
  margin-top: 3em;
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #eec0a0;
  border-style: none; }
  .pohja3 .heading, .pohja3 .otsikko, .pohja3 h2, .pohja3 h3, .pohja3 h4, .pohja3 h5, .pohja3 h6 {
    margin-top: 2em;
    margin-bottom: 1em;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #be6f37;
    padding-bottom: 0.25em; }
  .pohja3 .heading:first-child, .pohja3 .otsikko:first-child, .pohja3 h2:first-child, .pohja3 h3:first-child, .pohja3 h4:first-child, .pohja3 h5:first-child, .pohja3 h6:first-child {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #be6f37;
    padding-bottom: 0.25em; }

/* TABLES ******************************************************************* */
/* ************************************************************************** */
table {
  margin-top: 2em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  background-color: #6998ce;
  width: 80%;
  empty-cells: show;
  table-layout: auto;
  border-spacing: 0; }
  table caption {
    text-align: center; }
  table td, table th {
    color: #333333;
    font-family: verdana, sans-serif;
    font-size: 100%;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.1em;
    word-spacing: 0.12em;
    font-size: 90%;
    line-height: 1.3; }

tbody {
  vertical-align: middle; }

thead {
  vertical-align: middle; }

tfoot {
  vertical-align: middle; }

td {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: #666666;
  background-color: #e6e6e6;
  text-align: left;
  height: auto;
  width: 50%;
  vertical-align: inherit; }

td.keskitetty + img, td.keskitetty {
  text-align: center; }

th {
  border: thin solid gray;
  font-weight: bold;
  padding: 0.5em; }

table + caption {
  font-weight: bold; }

/* TABLE NO BORDERS */
table.noborder,
table.noborder * {
  border: none; }

/* Tables with over 3 columns */
/* Magic numbers discovered by experimentation and much frustration. */
.sarakkeita3 td {
  width: 35%; }

.sarakkeita4 td {
  width: 25%; }

.sarakkeita5 td {
  width: 19%; }

.sarakkeita6 td {
  width: 15%; }

.sarakkeita7 td {
  width: 12%; }

.sarakkeita8 td {
  width: 10%; }

.sarakkeita9 td {
  width: 8%; }

.sarakkeita10 td {
  width: 7%; }

.sarakkeita11 td {
  width: 6%; }

.sarakkeita12 td {
  width: 5%; }

.sarakkeita13 td {
  width: 4%; }

oxy|entity {
  background-color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  -oxy-display-tags: none; }
