/* LISTS ******************************************************************** */
/* ************************************************************************** */

list,
ul,
pl,
ol {
    @include margins-smaller;
    padding: 0;
}

li {
    @include margins-no-margins;
    margin-left: 1em;
    list-style-position: outside;
}

li.hd {
    @include bold-font;
    @include margins-tiny;
    list-style-type: none;
}


lic + lic {
    margin-left: 1em;
}

list[type="ol"][enum="1"] {
    list-style-type: decimal;
}

list[type="ol"][enum="a"],
.lower-alpha,
.lower-alpha {
    list-style-type: lower-alpha;
}

list[type="ol"][enum="U"],
.upper-alpha,
.upper-alpha {
    list-style-type: upper-alpha;
}

list[type="ol"][enum="i"] {
    list-style-type: lower-roman;
}

list[type="ol"][enum="X"],
.upper-roman,
.upper-roman {
    list-style-type: upper-roman;
    list-style-position: outside;
}

ol {
    li {
        @include bold-font;
        list-style-type: decimal;
    }
    span {
        font-weight: normal;
    }
}

list[type="ul"],
list[type="pl"],
.plain {
    list-style-type: none;
    line-height: $loose;
}

.unordered li {
    list-style-type: disc;
    margin-left: 1em;
    line-height: $loose;
}


list > li > list[type=ul] {
    list-style-type: circle;
}

list > li > list > li > list[type=ul] {
    list-style-type: square;
}

list > li > list,
list li list {
    margin-top: 0;
    margin-bottom: 0;
}

/* DEFINITION LIST ********************************************************** */
/* ************************************************************************** */

dl {

}

dt {

}

dd {
    
}