/* PAGENUM, LINENUM ********************************************************* */
/* ************************************************************************** */

.page-normal,
.page-special,
.page-front,
.pagenum,
pagenum {
    @include margins-large;
    text-align: right;
    font-weight: bold;
    border-top: solid thin $almost-black;
    padding-top: 2em;
}

@media only screen and (max-width: $page-width) {
  .page-normal,
  .page-special,
  .page-front,
  .pagenum {
    text-align: left;
    padding-top: 1em;
  }
}