/* TABLES ******************************************************************* */
/* ************************************************************************** */

table {
    @include margins-mid;
    @include borders-thin($border-color);
    background-color: $accent-color-2;

    width: $default-width;
    empty-cells: show;
    table-layout: fixed;
    //border-collapse breaks stuff, see alternatives
    //border-collapse: collapse;
    border-spacing: 0;
    caption {
        text-align: center;
    }

    td, th {
        @include alt-font;
    }
}

tbody {
  vertical-align: middle;
}

thead {
  vertical-align: middle;
}

tfoot {
  vertical-align: middle;
}



td {
    @include box-padding;
    @include default-box-borders($border-color);
    background-color: $background-color;
    text-align: left;
    height: auto;
    vertical-align: inherit;
}


td.keskitetty+img, td.keskitetty {
    text-align: center;
}

th {
    border: thin solid gray;
    font-weight: bold;
    padding: 0.5em;
}

table+caption {
    font-weight: bold;
}




/* TABLE NO BORDERS */
table.noborder,
table.noborder *{
    border: none;
}


/* Tables with over 3 columns */
/* Magic numbers discovered by experimentation and much frustration. */
.sarakkeita3 {
    td {
        width: 35%
    }
}

.sarakkeita4 {
    td {
        width: 25%
    }
}

.sarakkeita5 {
    td {
        width: 19%
    }
}

.sarakkeita6 {
    td {
        width: 15%
    }
}

.sarakkeita7 {
    td {
        width: 12%
    }
}

.sarakkeita8 {
    td {
        width: 10%;
    }
}

.sarakkeita9 {
    td {
        width: 8%;
    }
}

.sarakkeita10 {
    td {
        width: 7%;
    }
}

.sarakkeita11 {
    td {
        width: 6%;
    }
}

.sarakkeita12 {
    td {
        width: 5%;
    }
}

.sarakkeita13 {
    td {
        width: 4%;
    }
}

table.auto {
    table-layout: auto;
}