/* TABLES ******************************************************************* */
/* ************************************************************************** */

table {
    @include margins-mid;
    @include borders-thin($border-color);
    background-color: $accent-color-2;

    width: $default-width;
    empty-cells: show;
    table-layout: fixed;
    word-break: normal;

    //border-collapse breaks stuff, see alternatives
    //border-collapse: collapse;
    border-spacing: 0;
    caption {
        text-align: center;
    }

    td, th {
        @include alt-font;
    }
}

tbody {
  vertical-align: middle;
}

thead {
  vertical-align: middle;
}

tfoot {
  vertical-align: middle;
}



td {
    @include box-padding;
    @include default-box-borders($border-color);
    background-color: $background-color;
    text-align: left;
    height: auto;
    vertical-align: inherit;
}


td.keskitetty+img, td.keskitetty {
    text-align: center;
}

th {
    border: thin solid gray;
    font-weight: bold;
    padding: 0.5em;
}

table+caption {
    font-weight: bold;
}


/* NO BORDERS */
table.noborder,
table.noborder *{
    border: none;
}

/* AUTO LAYOUT */
table.auto {
    table-layout: auto;
}

/* Responsive table design notes
- Possibility for classification of tables into:
    - Small-screen friendly (work as is)
    - Blockable (turn each row into a block)
    - Chartable (might not be possible)
    - Difficult (must be dealt with on a case by case basis)
- For more, see http://alistapart.com/article/designing-for-breakpoints

- http://css-tricks.com/responsive-data-tables/

*/

/* Small screens */
@media only screen and (max-width: $page-width) {

    
    
    /* Requires markup
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    td:before { content: attr(data-title); }*/
}